@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>İçerik Ara</h1>
<h3>Tüm içerikler arasında, anahtar kelimeler ile arama yapılabilir.</h3>

@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <p>
        Aranacak Kelimeyi Girin:@Html.TextBox("p")
        <input type="submit" class="btn btn-warning" value="Ara" />
    </p>
}

@foreach (var item in Model)
{
    <p>@item.ContentValue</p>
}